In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=20)    # DEBUG - CHANGE TO 2000
lngs = np.random.uniform(low=-180.000, high=180.000, size=20)    # DEBUG - CHANGE TO 2000
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [4]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [5]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

19

In [6]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [7]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
# print(url)

In [8]:
# Import the datetime module from the datetime library.
from datetime import datetime

In [27]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_country = city_weather["sys"]["country"]
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_descr = city_weather["weather"]
        
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Country": city_country,
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Current Description": city_descr})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | margate
City not found. Skipping...
Processing Record 2 of Set 1 | ushuaia
City not found. Skipping...
Processing Record 3 of Set 1 | east london
City not found. Skipping...
Processing Record 4 of Set 1 | tura
City not found. Skipping...
Processing Record 5 of Set 1 | srednekolymsk
City not found. Skipping...
Processing Record 6 of Set 1 | keti bandar
City not found. Skipping...
Processing Record 7 of Set 1 | kapaa
City not found. Skipping...
Processing Record 8 of Set 1 | westport
City not found. Skipping...
Processing Record 9 of Set 1 | mataura
City not found. Skipping...
Processing Record 10 of Set 1 | saint-philippe
City not found. Skipping...
Processing Record 11 of Set 1 | new norfolk
City not found. Skipping...
Processing Record 12 of Set 1 | atuona
City not found. Skipping...
Processing Record 13 of Set 1 | bredasdorp
City not found. Skipping...
Processing Record 14 of Set 1 | port elizabeth
City not found. Skipping...
Processing Record 15 of Set 1 | moerai
City not found. Skipping...
Processing Record 16 of Set 1 | hilo
City not found. Skipping...
Processing Record 17 of Set 1 | mergui
City not found. Skipping...
Processing Record 18 of Set 1 | sur
City not found. Skipping...
Processing Record 19 of Set 1 | yabelo
City not found. Skipping...
-----------------------------
Data Retrieval Complete
-----------------------------

In [25]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Margate,GB,51.3813,1.3862,64.04,71,80,5.99,"{'id': 803, 'main': 'Clouds', 'description': '..."
1,Ushuaia,AR,-54.8000,-68.3000,44.26,57,75,16.11,"{'id': 803, 'main': 'Clouds', 'description': '..."
2,East London,ZA,-33.0153,27.9116,67.14,88,75,21.85,"{'id': 803, 'main': 'Clouds', 'description': '..."
3,Tura,IN,25.5198,90.2201,70.09,94,18,1.95,"{'id': 801, 'main': 'Clouds', 'description': '..."
4,Srednekolymsk,RU,67.4500,153.6833,-8.55,98,46,3.40,"{'id': 802, 'main': 'Clouds', 'description': '..."
5,Keti Bandar,PK,24.1447,67.4497,84.45,42,0,12.39,"{'id': 800, 'main': 'Clear', 'description': 'c..."
6,Kapaa,US,22.0752,-159.3190,75.18,94,1,4.16,"{'id': 800, 'main': 'Clear', 'description': 'c..."
7,Westport,US,41.1415,-73.3579,58.91,86,100,3.00,"{'id': 804, 'main': 'Clouds', 'description': '..."
8,Mataura,NZ,-46.1927,168.8643,52.47,89,90,2.08,"{'id': 804, 'main': 'Clouds', 'description': '..."
9,Saint-Philippe,RE,-21.3585,55.7679,80.15,79,89,7.58,"{'id': 500, 'main': 'Rain', 'description': 'li..."

In [11]:
# city_descr = city_weather["weather"]
city_descr

[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}]

In [12]:
city_descr = city_weather["id"]
city_descr

326036

In [13]:
type(city_weather['weather'])

list

In [19]:
city_weather["weather"]

[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}]

In [22]:
len(city_weather["weather"])

1